body {
    
}

.my-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.my-content-container > .my-content-text {
    flex: 2 1 0;
    min-width: 300px;
}
.my-content-container > .my-content-text > h2 {
    padding: 1em;
    background-color: rgb(229, 231, 235);
}
.my-content-container .my-content-img {
    flex: 1 1 0;
    overflow: hidden;
    height: 400px;
    min-width: 300px;
}
.my-content-container > .my-content-img > img {
    position: relative;
    width: 100%;
    display: block;
}