*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.my-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.my-content-container > .my-content-text {
    flex: 2 1 0;
    min-width: 300px;
}
.my-content-container > .my-content-text > h2 {
    padding: 1em;
    background-color: rgb(229, 231, 235);
}
.my-content-container .my-content-img {
    flex: 1 1 0;
    overflow: hidden;
    height: 400px;
    min-width: 300px;
}
.my-content-container > .my-content-img > img {
    position: relative;
    width: 100%;
    display: block;
}

article {
    margin: 2em;
}

h3 {
    padding-top: 0.5em;
}

.recipe-desc {
    text-align: justify;
}

footer {
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-flex p {
    margin: 0.5em auto 0.5em auto;
}

.footer-upper {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom {
    background-color: gray;
}